body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding: 20px;
    color: white;
    border-right: 1px solid white;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    margin-bottom: 10px;
}

.navbar li a {
    color: white;
    text-decoration: none;
}

.navbar li a:hover {
    text-decoration: underline;
}

.logout {
    position: absolute;
    bottom: 20px;
}

h1 {
    text-align: center;
}

.form-container {
    max-width: 400px;
    margin: 120px auto auto 600px;
    padding: 30px;
    border-radius: 2em;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.change_password_form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container button {
    background-color: rgb(5, 142, 5);
    color: #fff;
    border: none;
    border-radius: 2em;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 1em;
}

.form-container button:hover {
    background-color: rgb(6, 95, 6);
}


