/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    background-color: #222;
    color: #fff;
    padding: 0;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
}

/* Header styles */
.header-container {
    background-color: #333;
    color: #fff;
    margin-bottom: 20px;
    padding-bottom: 2px;
}

.homepage-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px; 
    margin-bottom: 20px;
}

.homepage-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-nav ul li {
    display: inline;
    margin-right: 20px;
}

.homepage-nav ul li:last-child {
    margin-right: 0;
}

.homepage-nav ul li a {
    color: #fff;
    text-decoration: none;
}

.homepage-nav ul li a:hover {
    text-decoration: underline;
}

/* Heading styles */
h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 150px;
}

/* Form styles */
.form-container {
    max-width: 300px;
    margin: 0 auto;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form input[type="text"],
.form input[type="password"],
.form input[type="submit"] {
    display: block;
    width: 30em;
    padding: 10px;
    margin: 0 auto 10px; /* Center and add margin bottom */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

.form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Sign up link */
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.errors {
    text-align: center;
    list-style-type: none;
    border: transparent solid 0em;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin-bottom: 1em;
    margin-top: -1em;
}
