body {
    font-family: "Roboto", sans-serif;
}

.navbar {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding: 20px;
    color: white;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    margin-bottom: 10px;
}

.navbar li a {
    color: white;
    text-decoration: none;
}

.navbar li a:hover {
    text-decoration: underline;
}

.logout {
    position: absolute;
    bottom: 20px;
}

.form-container {
    background-color: #333;
    max-width: 700px;
    padding: 30px 50px 30px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: white;
    margin: 50px auto 0px 500px;
}

.form-container h1 {
    text-align: center;
}

.form-container form {
    display: grid;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.form-container select {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
}

.form-container textarea {
    resize: vertical;
}

.form-container input[type="submit"] {
    background-color: rgb(5, 142, 5);
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 2em;
}

.form-container input[type="submit"]:hover {
    background-color: rgb(6, 95, 6);
}

.view-all-bugs {
    background-color: rgb(5, 142, 5);
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: small;
}

.view-all-bugs:hover {
    background-color: rgb(6, 95, 6);
}